In [1]:
import pandas as pd
import numpy as np

In [3]:
with open("./Dummy Datasets X Variable v3.csv", 'r') as csvfile:
    print(f"First line (header) looks like this:\n\n{csvfile.readline()}")
    print(f"Each data point looks like this:\n\n{csvfile.readline()}")

First line (header) looks like this:

Gender;Usia;Pinjaman;Tenor;Pemasukan;Tanggungan;Pekerjaan;Donasi

Each data point looks like this:

M;53;1800000;6;1500000;1;Buruh;0

In [5]:
df  = pd.read_csv(r'./Dummy Datasets X Variable v3.csv', delimiter=';')
print(df.head())

  Gender  Usia  Pinjaman  Tenor  Pemasukan  Tanggungan      Pekerjaan  Donasi
0      M    53   1800000      6    1500000           1          Buruh       0
1      M    61    500000      4    3500000           0     Guru/Dosen       3
2      M    33   1000000      6    1200000           0       Pedagang       6
3      M    37   1200000     16    1800000           5  Pekerja Lepas       5
4      F    36   1200000     10    4600000           1          Buruh       4

In [7]:
# converting to list
gender_list = df["Gender"].tolist()
usia_list = df["Usia"].tolist()
pinjaman_list = df["Pinjaman"].tolist()
tenor_list = df["Tenor"].tolist()
pemasukan_list = df["Pemasukan"].tolist()
tanggungan_list = df["Tanggungan"].tolist()
pekerjaan_list = df["Pekerjaan"].tolist()
donasi_list = df["Donasi"].tolist()

In [8]:
approval = []
i = 0

for i in range(0,10000):
    if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 2000000:
        if usia_list[i] <= 63:
            if pekerjaan_list[i] == 'Buruh' or pekerjaan_list[i] == 'Guru/Dosen':
                if gender_list[i] == 'F':
                    if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 1500000*(tanggungan_list[i]+1):
                        approval.append('Y')
                    else:
                        if donasi_list[i] > 5:
                            approval.append('Y')
                        else:
                            approval.append('N')
                else:
                    if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 1500000*(tanggungan_list[i]+2):
                        approval.append('Y')
                    else:
                        if donasi_list[i] > 5:
                            approval.append('Y')
                        else:
                            approval.append('N')
            else:
                if gender_list[i] == 'F':
                    if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 150000*(tanggungan_list[i]+1):
                         approval.append('Y')
                    else:
                        if donasi_list[i] > 5:
                            approval.append('Y')
                        else:
                            approval.append('N')
                else:
                    if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 120000*(tanggungan_list[i]+2):
                        approval.append('Y')
                    else:
                        if donasi_list[i] > 5:
                            approval.append('Y')
                        else:
                            approval.append('N')
        else:
            if pekerjaan_list[i] == 'Pedagang' or pekerjaan_list[i] == 'Pekerja Lepas' or pekerjaan_list[i] == 'Wirausaha':
                if pemasukan_list[i] >= pinjaman_list[i]/(pinjaman_list[i]/4) + 120000*(tanggungan_list[i]+2):
                    approval.append('Y')
                else:
                    if donasi_list[i] > 5:
                        approval.append('Y')
                    else:
                        approval.append('N')
            else:
                approval.append('N')
    else:
        approval.append('N')

print(len(approval))

10000

In [9]:
# to remove duplicated from list labels
result = [] 
[result.append(x) for x in approval if x not in result] 

# printing list labels after removal 
print ("The list after removing duplicates: " + str(result)) 

# count number of each label in the data
res = {}

for i in approval:
    res[i] = approval.count(i)
    
print(f"the number of each label in the data:\n {res}")

The list after removing duplicates: ['N', 'Y']
the number of each label in the data:
 {'N': 4733, 'Y': 5267}

In [9]:
data = pd.DataFrame(np.column_stack([approval, 
                                    gender_list,
                                    usia_list,
                                    pinjaman_list,
                                    tenor_list,
                                    pemasukan_list,
                                    tanggungan_list,
                                    pekerjaan_list
                                    ]), 
                               columns=['approval', 'gender', 'usia', 'pinjaman', 'tenor', 'pemasukan', 'tanggungan', 'pekerjaan'])

data.head()

  approval gender usia  pinjaman tenor pemasukan tanggungan   pekerjaan
0        N      M   43    700000     8   1200000          3   Wirausaha
1        Y      M   31    500000    10   2300000          5    Pedagang
2        N      F   79   1600000    10   1800000          2    Pedagang
3        N      F   80   2500000     4   4000000          0  Guru/Dosen
4        Y      M   92    500000     4   3000000          3    Pedagang

In [10]:
data.to_excel('./Datasets_Dummy_CreditApproval-v3.xlsx')